<a href="https://colab.research.google.com/github/HiyaJain22/Compute-Tasks/blob/main/MLTask1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#7
rows=int(input("Enter the no of rows"))
for i in range(rows):
    for j in range(i):
        print(i, end=' ')
    print('')

Enter the no of rows6

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
#2
l1=[]
n=int(input())
for i in range(n):
 inp=input().split()
 if(inp[0].lower()=='append'):
   l1.append(int(inp[1]))
 elif(inp[0].lower()=='insert'):
   l1.insert(int(inp[1]),int(inp[2]))
 elif(inp[0].lower()=='print'):
   print(l1)
 elif(inp[0].lower()=='remove'):
   l1.remove(int(inp[1]))
 elif(inp[0].lower()=='sort'):
   l1.sort()
 elif(inp[0].lower()=='pop'):
   l1.pop()
 elif(inp[0].lower()=='reverse'):
   l1.reverse()

12
insert 0 5
insert 1 10
insert 0 6
print
[6, 5, 10]
remove 6
append 9
append 1
sort
print
[1, 5, 9, 10]
pop
reverse
print
[9, 5, 1]

In [ ]:
#1
N,X=list(map(int,input().split()))
sum=0
a=[]
for i in range(X):
  l=list(map(float,input().split()))
  a.append(l)
z=list(zip(*a))
for j in z:
  sum=0
  for i in j:
    sum=sum+i;
    print(sum/X)

5 3
89 90 78 93 80
90 91 85 88 86
91 92 83 89 90.5
29.666666666666668
59.666666666666664
90.0
30.0
60.333333333333336
91.0
26.0
54.333333333333336
82.0
31.0
60.333333333333336
90.0
26.666666666666668
55.333333333333336
85.5

In [ ]:
d="bcdabcd"
dict={}

In [ ]:
#3
n=int(input())
c=0
dict={'Name':[],'M1':[],'M2':[],'M3':[]}
for i in range(n):
  inp=input().split()
  dict=['Name'].append(inp[0])
  dict=['M1'].append(float(inp[1]))
  dict=['M2'].append(float(inp[1]))
  dict=['M3'].append(float(inp[1]))
name=input()
for i in range(n):
  if(name==dict['Name'][i]):
    c=i
    break
print("%.2f"%float((dict['M1'][c]+dict['M2'][c]+dict['M3'][c]/3.00)))

In [ ]:
#6
def fls(numberList):
    print("Given list:", numberList)
    
    if numberList[0] == numberList[-1]:
        return True
    else:
        return False

numbers_x = [10, 20, 30, 40, 10]
print("result is", fls(numbers_x))

numbers_y = [75, 65, 35, 75, 30]
print("result is", fls(numbers_y))

Given list: [10, 20, 30, 40, 10]
result is True
Given list: [75, 65, 35, 75, 30]
result is False

In [ ]:
#5
str=input("Enter a string")
#print(len(str))
N=int(input("Enter the index to replace at"))
X=input("Enter the value")
str1 = str[:N] + X + str[N+1:]
print(str1)

Enter a stringabracadabra
Enter the index to replace at5
Enter the valuek
abrackdabra