<a href="https://colab.research.google.com/github/HiyaJain22/Compute-Tasks/blob/main/MLtask2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("/content/data.csv")
df

,Unnamed: 0,acousticness,danceability,duration_ms,energy,instrumentalness,key,liveness,loudness,mode,speechiness,tempo,time_signature,valence,target,song_title,artist
0,0,0.01020,0.833,204600,0.434,0.021900,2,0.1650,-8.795,1,0.4310,150.062,4,0.286,1,Mask Off,Future
1,1,0.19900,0.743,326933,0.359,0.006110,1,0.1370,-10.401,1,0.0794,160.083,4,0.588,1,Redbone,Childish Gambino
2,2,0.03440,0.838,185707,0.412,0.000234,2,0.1590,-7.148,1,0.2890,75.044,4,0.173,1,Xanny Family,Future
3,3,0.60400,0.494,199413,0.338,0.510000,5,0.0922,-15.236,1,0.0261,86.468,4,0.230,1,Master Of None,Beach House
4,4,0.18000,0.678,392893,0.561,0.512000,5,0.4390,-11.648,0,0.0694,174.004,4,0.904,1,Parallel Lines,Junior Boys
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2012,2012,0.00106,0.584,274404,0.932,0.002690,1,0.1290,-3.501,1,0.3330,74.976,4,0.211,0,Like A Bitch - Kill The Noise Remix,Kill The Noise
2013,2013,0.08770,0.894,182182,0.892,0.001670,1,0.0528,-2.663,1,0.1310,110.041,4,0.867,0,Candy,Dillon Francis
2014,2014,0.00857,0.637,207200,0.935,0.003990,0,0.2140,-2.467,1,0.1070,150.082,4,0.470,0,Habit - Dack Janiels & Wenzday Remix,Rain Man
2015,2015,0.00164,0.557,185600,0.992,0.677000,1,0.0913,-2.735,1,0.1330,150.011,4,0.623,0,First Contact,Twin Moons
2016,2016,0.00281,0.446,204520,0.915,0.000039,9,0.2180,-6.221,1,0.1410,190.013,4,0.402,0,I Wanna Get Better,Bleachers

In [4]:
#Find songs with value for energy column greater than 0.4 and display values for song_title column.
df1=df[df["energy"] > 0.4]
df4=df1['song_title']
df4

0                                   Mask Off
2                               Xanny Family
4                             Parallel Lines
5                                   Sneakin’
6                                Childs Play
                        ...
2012     Like A Bitch - Kill The Noise Remix
2013                                   Candy
2014    Habit - Dack Janiels & Wenzday Remix
2015                           First Contact
2016                      I Wanna Get Better
Name: song_title, Length: 1830, dtype: object

In [5]:
#For songs with duration duration_ms value less than 300000 ms (300 s), find Top 10 “fastest” 
#songs( songs with highest values for tempo column ) and display values for song_title, artistcolumns.
df2 = df[df['duration_ms'] < 300000]
df3 = df2.sort_values('tempo',ascending=False)[['song_title', 'artist']].head(10)
df3

                song_title            artist
124       Danger and Dread        Brown Bird
718            Hannah Hunt   Vampire Weekend
1960            Puppy Love      Donny Osmond
1711               Amazing     Big Time Rush
809        Tupelo - Part 1       Pop Staples
826     Living Every Dream            Antwon
1339  The Shaping Sickness  Shadow of Intent
102         Willing & Able        Disclosure
1802             Mad Love.              JoJo
532        Wake Bake Skate            FIDLAR

In [ ]:
#Find songs with value for artist column = Drake and value for energy column greater than 0.5 and display values for song_title column.
df5=df[df.artist=='Drake']
df6=df5[df.energy>0.5]
df7=df6['song_title']
df7

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

5                      Sneakin’
37                      Jumpman
117               Hotline Bling
154                   Big Rings
440                   Headlines
589     Started From the Bottom
779     0 To 100 / The Catch Up
1016           Skepta Interlude
1218            Best I Ever Had
1223                  Take Care
Name: song_title, dtype: object

In [6]:
#Create a dataframe of the songs that rank among top 10 for the instrumentalness metric. This dataframe should only contain the instrumentalness, song title and artist columns.
df8=df.sort_values('instrumentalness',ascending=False)[['song_title', 'artist','instrumentalness']].head(10)
df8

,song_title,artist,instrumentalness
1313,Senseless Order,Signs of the Swarm,0.976
271,So Destroyed (channeling Rage Peace),Prince Rama,0.968
1575,A Hundred Dreams from Now,Ray Bryant,0.964
1619,Raven,John Dahlbäck,0.958
725,Strandbar (disko),Todd Terje,0.957
1546,Almas vaggvisa,Jan Lundgren Trio,0.956
1322,Pitchblack,Walking Dead On Broadway,0.955
1349,Prismatic Abyss,Aversions Crown,0.954
1661,Yebisah,Mark Knight,0.954
121,Chasing Heaven,Bassnectar,0.952

In [ ]:
#Create a dataframe of the average tempo for each of the top 10 most occurring artists.
df9=df["tempo"].mean()
df9

121.60327169062965